* {
	padding: 0;
	margin: 0;
}

.container{
	height: 100vh;
	width: auto;
	display: flex;
	flex-direction: column;
}

.header{
	height: 25%;
	width: 100%;
	background-color: #1f2937;

	border: black 1px solid;
}

.top-header{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-left: 15%;
	color: white;
	font-size: 25px;
	font-family: Helvetica, sans-serif;
}

.top-header ul{
	list-style: none;
	display: flex;
	gap: 30px;
	margin-right: 15%;
}

a{
	text-decoration: none;
	color: white
}

a:hover{
	text-decoration: underline;
}

.recipes{
	height: 25%;
	width: 100%;
	text-align: center;

	border: black 1px solid;
}

.recipes .images{
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;

	
}

#burger{
	height:100px;
	width:100px;

	border: black 1px solid;
	border-radius: 10px;
	overflow: hidden;
}

#pizza{
	height:100px;
	width:100px;
	
	border: black 1px solid;
	border-radius: 10px;
	overflow: hidden;
}

#fries{
	height:100px;
	width:100px;
	
	border: black 1px solid;
	border-radius: 10px;
	overflow: hidden;
}

#chicken{
	height:100px;
	width:100px;
	
	border: black 1px solid;
	border-radius: 10px;
	overflow: hidden;
}

.quotes{
	height: 25%;
	width: 100%;
	text-align: center;
	background-color: #e5e7eb;

	border: black 1px solid;
}

.actual-quote{
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
}

.footer{
	height: 25%;
	width: 100%;

	border: black 1px solid;
}