* {
	padding: 0;
	margin: 0;
}

.container{
	height: 100vh;
	width: auto;
	display: flex;
	flex-direction: column;
}

.header{
	height: 25%;
	width: 100%;
	background-color: #1f2937;

	border: black 1px solid;
}

.top-header{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-left: 15%;
	color: white;
	font-size: 25px;
	font-family: Helvetica, sans-serif;
}

.top-header ul{
	list-style: none;
	display: flex;
	gap: 30px;
	margin-right: 15%;
}

a{
	text-decoration: none;
	color: white
}

a:hover{
	text-decoration: underline;
}

.introduction{
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.introduction img{
	margin-left: 15%;
	margin-right: 15%;
	border: white 2px solid;
	border-radius: 4px;

	width: 20%;
	height: auto;
}

.recipes{
	height: 25%;
	width: 100%;
	text-align: center;

	border: black 1px solid;
}

.recipes .images{
	display: flex;
	justify-content: space-evenly;
	margin-top: 30px;

	
}

.recipes .images p{
	font-size: 30px;
}

#burger{
	height: 120px;
	width: 120px;

	border: black 2px solid;
	border-radius: 10px;
	overflow: hidden;
}

#pizza{
	height: 120px;
	width: 120px;
	
	border: black 2px solid;
	border-radius: 10px;
	overflow: hidden;
}

#fries{
	height: 120px;
	width: 120px;
	
	border: black 2px solid;
	border-radius: 10px;
	overflow: hidden;
}

#chicken{
	height: 120px;
	width: 120px;
	
	border: black 2px solid;
	border-radius: 10px;
	overflow: hidden;
}

.quotes{
	height: 25%;
	width: 100%;
	text-align: center;
	background-color: #e5e7eb;

	border: black 1px solid;
}

.actual-quote{
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
}

.footer{
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	border: black 1px solid;
}

.footer p{
	font-style: italic;
	font-size: 100px;
}